:root {
  --white: #ffffff;
  --black: #141414;
  --black-10: #f8f8f8;
  --black-100: #d1d1d1;
  --black-200: #bababa;
  --black-400: #8c8c8c;
  --black-700: #474747;
  --black-800: #303030;
  --black-900: #191919;
  --purple-100: #f0e7ff;
  --purple-300: #d2b6ff;
  --purple-500: #a66dff;
  --purple-700: #6a0bff;
  --yellow: #fffcf2;
  --yellow-700: #ffda85;
  --gray: #ececec;
}
