.footer {
  background-color: #18003e;
  padding: max(7rem, 20px) 0 20px;
  border-radius: 20px 20px 0 0;
}

.logo {
  margin-bottom: 16px;
}

.title {
  margin-bottom: 20px;
}

.list {
  display: flex;
  gap: 20px;
  margin-bottom: max(6.4rem, 16px);
}

.description {
  margin-bottom: max(5.4rem, 30px);
}
