.section {
  margin-bottom: max(13rem, 40px);
}

.block_left {
  .title {
    margin-bottom: 16px;
    text-transform: uppercase;
  }

  .subtitle {
    margin-bottom: 60px;
  }
}

@media (max-width: 900px) {
  .block_left {
    .title {
      text-align: center;
    }

    .subtitle {
      text-align: center;
      margin-bottom: 24px;
    }

    .list {
      width: 100%;
    }
  }
}
