.section {
  margin-bottom: max(13rem, 40px);
}

.title {
  margin-bottom: 16px;
}

.subtitle {
  margin-bottom: 124px;
}

.img_wrapper {
  padding: 64px 100px 0;
  border-radius: 16px 0 0 16px;
  background-color: var(--purple-100);
  margin-right: -40px;
  display: flex;
  align-items: flex-end;

  img {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .img_wrapper {
    padding: 60px 20px 0;
  }
}

@media (max-width: 768px) {
  .title {
    text-align: center;
  }

  .subtitle {
    margin-bottom: 24px;
    text-align: center;
  }

  .img_wrapper {
    padding: 60px 15% 0;
    margin-right: 0;
    margin-bottom: 24px;
    border-radius: 16px;
  }
}
